
<md-content flex layout="row" layout-align="center">
    <md-list flex="15" flex-offset="5">
        <md-list-item class="nav-item-vert"
                      layout="row"
                      layout-align="center"
                      ng-repeat="recipe in recipes"
                      ng-click="setIngredients(recipe.ingredients)">
            <span ng-bind="recipe.name"></span>
        </md-list-item>
    </md-list>
    <div flex>
        <df-table-view title="Ingredients"
                       items="ingredients"
                       table-view="$ctrl.tableView"
                       on-selected-items-changed="selectedItemsChanged(items)"></df-table-view>
    </div>
</md-content>