
<md-content layout="row">

    <md-content flex="25" layout="column">
        <md-card layout-padding>
            <df-input-form definition="$ctrl.recipeForm"
                           item="selectedRecipe"
                           on-save-clicked="saveRecipe(item)"></df-input-form>
        </md-card>
        <md-card flex>
            <df-table-view title="Recipes"
                           items="recipes"
                           table-view="$ctrl.recipeTable"
                           on-selected-items-changed="selectedRecipesChanged(items)"></df-table-view>
        </md-card>
    </md-content>
    <md-content flex="50" layout="column">
        <md-card flex ng-show="selectedRecipe">
            <df-table-view title="Ingredients"
                           items="ingredients"
                           table-view="$ctrl.ingredientTable"
                           on-selected-items-changed="selectedIngredientsChanged(items)"></df-table-view>
        </md-card>
    </md-content>

    <md-content flex="25" ng-show="selectedRecipe">
        <md-card layout-padding>
            <df-input-form definition="$ctrl.ingredientForm"
                           item="selectedIngredient"
                           on-save-clicked="saveIngredient(item)"></df-input-form>
        </md-card>
    </md-content>

</md-content>