
<md-content layout="row" df-linker>

    <md-content flex="25" layout="column">
        <md-card layout-padding>
            <df-input-form fields="$ctrl.recipeForm"
                           head="recipeTable"
                           id="recipeForm"
                           key="id"
                           service="$ctrl.recipeSvc"></df-input-form>
        </md-card>
        <md-card flex>
            <df-table-view columns="$ctrl.recipeTable"
                           id="recipeTable"
                           key="id"
                           service="$ctrl.recipeSvc"></df-table-view>
        </md-card>
    </md-content>
    <md-content flex="50" layout="column">
        <md-card flex>
            <df-table-view columns="$ctrl.ingredientTable"
                           id="ingredientTable"
                           key="id"
                           foreign-keys="{ recipeTable: { recipe_id: 'id' } }"
                           service="$ctrl.ingredientSvc"></df-table-view>
        </md-card>
    </md-content>

    <md-content flex="25">
        <md-card layout-padding>
            <df-input-form fields="$ctrl.ingredientForm"
                           head="ingredientTable"
                           id="ingredientForm"
                           key="id"
                           foreign-keys="{ recipeTable: { recipe_id: 'id' } }"
                           service="$ctrl.ingredientSvc"></df-input-form>
        </md-card>
    </md-content>

</md-content>