
<div>
    <fieldset>
        <legend>Create/Edit</legend>
        <form>
            <label>Name:</label>
            <label ng-hide="inputEnabled()">{{recipe.name}}</label>
            <input ng-show="inputEnabled()" type="text" ng-model="recipe.name">
            <hr>
            <div ng-show="inputEnabled()">
                <button ng-click="handleSaveClick()">Save</button>
                <button ng-click="handleCancelClick()">Cancel</button>
            </div>
            <div ng-hide="inputEnabled()">
                <button type="submit" ng-click="handleNewClick()">{{recipe ? 'Edit' : 'New'}}</button>
            </div>
        </form>
    </fieldset>
</div>