

<fieldset>
    <legend>{{$ctrl.title}}</legend>

    <div class="row">
        <div class="btn-group">
            <button ng-if="whenRenderNewButton()" class="btn-small nutri-btn" ng-style="resolveButtonStyle()" ng-disabled="disabled" ng-click="handleNewClick()">New</button>
            <button ng-if="whenRenderEditButton()" class="btn-small nutri-btn" ng-style="resolveButtonStyle()" ng-disabled="disabled" ng-click="handleEditClick()">Edit</button>
            <button ng-if="whenRenderDeleteButton()" class="btn-small nutri-btn" ng-style="resolveButtonStyle()" ng-disabled="disabled" ng-click="handleDeleteClick()">Delete</button>
            <button class="btn-small nutri-btn" ng-style="resolveButtonStyle()" ng-disabled="disabled" ng-click="handleSyncClick()">Sync</button>
        </div>
    </div>

    <div class="row top-buffer" tabindex="0" ng-keydown="disabled || handleKeyDown($event)" ng-keyup="disabled || handleKeyUp($event)" style="outline: none">
        <table class="table">
            <thead>
            <tr>
                <th ng-repeat="(p, c) in columns" ng-click="disabled || handleHeaderClick(p)" ng-bind="resolveHeader(p)"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in items()"
                ng-mouseup="disabled || $parent.handleRowClick(i, $event)"
                ng-dblclick="disabled || $parent.handleRowDblClick(i)"
                ng-class="resolveRowClass(i)">
                <td ng-class="resolveCellClass(i, p)" ng-style="resolveCellStyle(p)" ng-repeat="(p, c) in columns">{{resolveValue(i, p)}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</fieldset>
