

<fieldset>
    <legend>{{$ctrl.title}}</legend>

    <div class="row">
        <div class="btn-group">
            <button ng-if="whenRenderNewButton()" class="btn-small nutri-btn" ng-click="handleNewClick()">New</button>
            <button ng-if="whenRenderEditButton()" class="btn-small nutri-btn" ng-click="handleEditClick()">Edit</button>
            <button ng-if="whenRenderDeleteButton()" class="btn-small nutri-btn" ng-click="handleDeleteClick()">Delete</button>
            <button class="btn-small nutri-btn" ng-click="handleSyncClick()">Sync</button>
        </div>
    </div>

    <div class="row top-buffer">
        <table class="table">
            <thead>
            <tr>
                <th ng-repeat="(p, c) in columns" ng-click="handleHeaderClick(p)">{{c.header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in items()"
                ng-mouseup="$parent.handleRowClick(i, $event)"
                ng-dblclick="$parent.handleRowDblClick(i)"
                ng-class="resolveRowClass(i)">
                <td ng-style="resolveCellStyle(p)" ng-repeat="(p, c) in columns">{{displayItem(i, p)}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</fieldset>
