

    <div class="row top-buffer">
        <fieldset tabindex="0" style="outline: none" ng-keydown="handleKeyDown($event)">
            <legend>Choose</legend>

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label" for="search">Search:</label>
                        <input class="form-control nutri-glow" id="search" type="text" ng-model="searchCriteria">
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="btn-group">
                        <button class="btn btn-primary nutri-btn" ng-click="handleDeleteClick()">Delete</button>
                        <button class="btn btn-primary nutri-btn" ng-click="handleSelectAllClick()">Select All</button>
                        <button class="btn btn-primary nutri-btn" ng-click="handleDeselectAllClick()">Deselect All</button>
                    </div>
                </div>

            </div>

            <div class="row">
                <div style="overflow-y: auto; overflow-x: hidden" class="nutri-frm">
                    <table class="table" ng-ghost>
                        <thead>
                        <tr>
                            <th ng-repeat="(p, c) in columns" ng-click="handleHeaderClick(p)">{{c.header}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="i in items()"
                            ng-mouseup="$parent.handleRowClick(i, $index, $event)"
                            ng-class="$parent.selected[$index] ? 'selected' : ''">
                            <td ng-style="{'text-align': c.align || 'left' }" ng-repeat="(p, c) in columns">{{displayItem(i, p)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </fieldset>
    </div>

