

<fieldset>
    <legend>{{$ctrl.title}}</legend>

    <div class="row">
        <div class="btn-group">
            <button ng-if="$ctrl.selectedItems.length === 0" class="btn-small nutri-btn" ng-click="handleNewClick()">New</button>
            <button ng-if="$ctrl.selectedItems.length === 1" class="btn-small nutri-btn" ng-click="handleEditClick()">Edit</button>
        </div>
    </div>

    <div class="row top-buffer">
        <table class="table">
            <thead>
            <tr>
                <th ng-repeat="(p, c) in columns" ng-click="handleHeaderClick(p)">{{c.header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in items()"
                ng-mouseup="$parent.handleRowClick(i, $index, $event)"
                ng-dblclick="$parent.handleRowDoubleClick(i)"
                ng-class="resolveRowClass($index)">
                <td ng-style="{'text-align': c.align || 'left' }" ng-repeat="(p, c) in columns">{{displayItem(i, p)}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</fieldset>
