
<form name="form" layout="column" ng-cloak>

    <div class="md-inline-form" layout="row" ng-repeat="r in fields">
        <div flex="{{100.0 / r.length}}" ng-repeat="f in r">
            <div ng-repeat="(k, v) in f" ng-include="v.template"></div>
        </div>
    </div>

    <div layout="row" layout-align="center">
        <md-button ng-disabled="$ctrl.saveButtonDisabled" class="md-raised md-primary" ng-click="handleSaveClick()">Save</md-button>
        <md-button ng-disabled="isRevertDisabled()" class="md-raised md-warn" ng-click="handleRevertClick()">Revert</md-button>
    </div>

</form>

<script type="text/ng-template" id="text-input.html">
    <md-input-container class="md-block md-accent">
        <label ng-bind="v.field"></label>
        <input ng-model="item[k]" type="{{v.type}}">
    </md-input-container>
</script>

<script type="text/ng-template" id="number-input.html">
    <md-input-container class="md-block md-accent">
        <label ng-bind="v.field"></label>
        <input ng-model="item[k]" type="{{v.type}}" step="{{v.step}}">
    </md-input-container>
</script>

<script type="text/ng-template" id="df-date-picker.html">
    <md-datepicker ng-model="item[k]" md-placeholder="{{v.field}}">
</script>

<script type="text/ng-template" id="select.html">
    <div layout="row" layout-align="center">
        <md-progress-circular ng-hide="v.enum" md-diameter="24" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-input-container class="md-block md-accent" ng-show="v.enum">
        <label ng-bind="v.field"></label>
        <md-select ng-model="item[k]">
            <md-option ng-repeat="option in v.enum" ng-bind="option"></md-option>
        </md-select>
    </md-input-container>
</script>

<script type="text/ng-template" id="df-form-slider.html">
    <md-input-container class="md-block md-accent">
        <label style="margin-bottom: 12px">{{v.field + ': ' + item[k]}}</label>
        <md-slider flex min="{{v.type.min}}" max="{{v.type.max}}" ng-model="item[k]" aria-label="{{k}}">
    </md-input-container>
</script>

<script type="text/ng-template" id="read-only.html">
    <div layout="row" flex>
        <label ng-bind="v.field"></label>
        <label ng-bind="item[k]"></label>
    </div>
</script>