
<md-content layout="row" df-linker>

    <md-content flex="30" layout="column">
        <md-card layout-padding layout="column">
            <df-input-form title="Student Form"
                           fields="studentForm"
                           head="studentTable"
                           id="recipeForm"
                           save-strategy="saveStudent"></df-input-form>
        </md-card>
        <md-card>
            <df-table-view title="Student Table"
                           columns="studentTable"
                           id="studentTable"
                           fetch-strategy="getStudents"
                           delete-strategy="deleteStudent"></df-table-view>
        </md-card>
    </md-content>

    <md-content flex="20" layout="column">
        <md-card layout-padding>
            <df-input-form title="Course Form" fields="courseForm"
                           head="courseTable"
                           id="courseForm"
                           save-strategy="saveCourse"></df-input-form>
        </md-card>
        <md-card>
            <df-table-view title="Course Form" columns="courseTable"
                           id="courseTable"
                           fetch-strategy="getCourses"
                           delete-strategy="deleteCourse"></df-table-view>
        </md-card>
    </md-content>

    <md-content flex layout="column">
        <md-card layout-padding>
            <df-input-form title="Exam Form" fields="examForm"
                           head="examTable"
                           id="examForm"
                           foreign-keys="{ courseTable: { CourseId: 'id' }, studentTable: { StudentId: 'id' } }"
                           save-strategy="saveExam"></df-input-form>
        </md-card>
        <md-card>
            <df-table-view title="Exam Table" columns="examTable"
                           id="examTable"
                           heads="['courseTable', 'studentTable']"
                           fetch-strategy="getExams"
                           delete-strategy="deleteExam"></df-table-view>
        </md-card>
    </md-content>

</md-content>