
<div class="container-fluid top-buffer">

    <div class="row">

        <div class="col-md-3">
            <detail-view ng-if="whenRenderRecipeForm()"
                         item="selectedRecipes.length === 1 ? selectedRecipes[0] : null"
                         fields="recipe"
                         on-save-click-emit="recipeSubmitted"
                         cancel-input-on="disruptInput"
                         enable-input-on="enableRecipeInput">
            </detail-view>
            <detail-view ng-if="whenRenderIngredientForm()"
                         item="selectedIngredients.length === 1 ? selectedIngredients[0] : null"
                         fields="ingredient"
                         on-save-click-emit="ingredientSubmitted"
                         cancel-input-on="disruptInput"
                         enable-input-on="enableIngredientInput">
            </detail-view>
        </div>

        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row">

                    <control-panel>

                        <div class="col-md-3">

                            <div class="btn-group-vertical">
                                <button class="btn btn-primary nutri-btn" ng-click="handleDeleteClick()">Delete</button>
                                <button class="btn btn-primary nutri-btn" ng-click="handleSelectAllClick()">Select All</button>
                                <button class="btn btn-primary nutri-btn" ng-click="handleDeselectAllClick()">Deselect All</button>
                            </div>

                        </div>

                    </control-panel>

                </div>

                <div class="row top-buffer">

                    <div class="col-md-4">
                        <recipe-list-view title="Recipes"
                                          data="recipes"
                                          items="recipes"
                                          selected-items="selectedRecipes"
                                          on-row-click-emit="recipeListRowClicked"
                                          on-row-ctrl-click-emit="recipeListRowCtrlClicked"
                                          on-new-click-emit="recipeListNewClicked"
                                          on-edit-click-emit="recipeListEditClicked"
                                          on-delete-click-emit="recipeListDeleteClicked"
                                          on-row-dbl-click-emit="recipeListRowDblClicked">
                        </recipe-list-view>
                    </div>

                    <div class="col-md-8">
                        <recipe-list-view title="Ingredients"
                                          data="ingredients"
                                          items="ingredients"
                                          selected-items="selectedIngredients"
                                          on-row-click-emit="ingredientListRowClicked"
                                          on-row-ctrl-click-emit="ingredientListRowCtrlClicked"
                                          on-new-click-emit="ingredientListNewClicked"
                                          on-edit-click-emit="ingredientListEditClicked"
                                          on-delete-click-emit="ingredientListDeleteClicked"
                                          on-row-dbl-click-emit="ingredientListRowDblClicked">
                        </recipe-list-view>
                    </div>

                </div>



            </div>

        </div>

    </div>

</div>