

tr:hover{
    background-color: beige;
}

.selected, .selected:hover{
    color: white;
}

.selected{
    background-color: chocolate;
}

.selected:hover{
    background-color: saddlebrown;
}

.selectedIngredient, .selectedIngredient:hover{
    color: white;
}

.selectedIngredient{
    background-color: green;
}

.selectedIngredient:hover{
    background-color: darkgreen;
}

.new{
    color: green;
}

.dirty{
    color: orange;
}



.highCal{
    color: orange;
}

.highProtein{
    color: #4dc71f;
}

.highFat{
    color: #ff2a00;
}

tr{
    cursor: default;
}

table{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}