

<fieldset>
    <legend>{{$ctrl.title}}</legend>


        <form class="form-horizontal" name="form">

            <div class="form-group">
                <div class="col-sm-offset-{{firstColumnWidth()}} col-sm-{{secondColumnWidth()}}">
                    <div class="btn-group" ng-show="isInputEnabled()">
                        <button class="btn btn-primary nutri-btn" ng-click="handleSaveClick()" type="submit">Save</button>
                        <button class="btn btn-primary nutri-btn" ng-click="handleCancelClick()">Cancel</button>
                    </div>
                    <div class="btn-group" ng-hide="isInputEnabled()">
                        <button class="btn btn-primary nutri-btn" ng-if="item.isNew()" ng-click="handleNewClick()">New</button>
                        <button class="btn btn-primary nutri-btn" ng-if="!item.isNew()" ng-click="handleEditClick()">Edit</button>
                    </div>
                </div>
            </div>

            <div ng-repeat="(p, f) in fields">
                <div class="form-group">
                    <label for="{{p}}" class="col-sm-{{firstColumnWidth()}} control-label">{{f.field}}</label>
                    <div class="col-sm-{{secondColumnWidth()}}">
                        <div style="position: relative; top: 7px; left: 13px" ng-show="whenShowLabel(p)" ng-bind="displayValue(p)"></div>
                        <input id="{{p}}" name="{{p}}" class="form-control" ng-show="whenShowInput(p)" ng-if="doesInputRender(p)" type="{{f.type || 'text'}}" ng-model="item[p]" ng-change="handleModelChange()">
                        <select class="form-control" ng-show="whenShowSelect(p)" ng-if="doesSelectRender(p)" ng-model="item[p]" ng-change="handleModelChange()">
                            <option ng-repeat="o in f.type">{{o}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="whenShowErrors(p)">
                    <label class="col-sm-{{firstColumnWidth()}} control-label"></label>
                    <div class="col-sm-{{secondColumnWidth()}}">
                        <label>
                            Errors.
                        </label>
                    </div>
                </div>
            </div>
        </form>

</fieldset>