
<form name="form" layout="column" ng-cloak layout-padding class="md-inline-form">

    <div layout="column">
        <div ng-repeat="(k, v) in fields" ng-include="resolveFieldTemplate(v)"></div>
    </div>

    <div layout="row">
        <md-button class="md-raised md-primary" ng-click="handleSaveClick()">Save</md-button>
        <md-button class="md-raised md-primary" ng-click="handleCancelClick()">Cancel</md-button>
    </div>

</form>

<script type="text/ng-template" id="text-input.html">
    <md-input-container class="md-block md-accent">
        <label ng-bind="v.field"></label>
        <input ng-model="item[k]" type="v.type" step="v.step">
    </md-input-container>
</script>

<script type="text/ng-template" id="read-only.html">
    <div layout="row" flex>
        <label ng-bind="v.field"></label>
        <label ng-bind="item[k]"></label>
    </div>
</script>