<md-content layout="column">
    <md-content layout="row" layout-align="space-between">
        <md-button class="md-raised md-warn" ng-disabled="deleteDisabled" ng-click="deleteSelectedItems()"><span>Delete</span></md-button>
        <md-progress-circular style="margin-top: 12px" ng-repeat="p in pending" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
        <span></span>
    </md-content>
    <table-view-base title="Recipes"
                     items="items"
                     columns="$ctrl.columns"
                     on-selected-items-changed="selectedItemsChanged(items)"></table-view-base>
</md-content>