
<form name="form" layout="column" ng-cloak>

    <div class="md-block" layout="column">
        <div ng-repeat="(k, v) in fields" ng-include="v.template"></div>
    </div>

    <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ng-click="handleSaveClick()">Save</md-button>
        <md-button class="md-raised md-primary" ng-click="handleRevertClick()">Cancel</md-button>
    </div>

</form>

<script type="text/ng-template" id="text-input.html">
    <md-input-container class="md-block md-accent">
        <label ng-bind="v.field"></label>
        <input ng-model="item[k]" type="{{v.type}}">
    </md-input-container>
</script>

<script type="text/ng-template" id="number-input.html">
    <md-input-container class="md-block md-accent">
        <label ng-bind="v.field"></label>
        <input ng-model="item[k]" type="{{v.type}}" step="{{v.step}}">
    </md-input-container>
</script>

<script type="text/ng-template" id="select.html">
    <div layout="row" layout-align="center">
        <md-progress-circular ng-hide="v.enum" md-diameter="24" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-input-container class="md-block md-accent" ng-show="v.enum">
        <label ng-bind="v.field"></label>
        <md-select ng-model="item[k]">
            <md-option ng-repeat="option in v.enum" ng-bind="option"></md-option>
        </md-select>
    </md-input-container>
</script>

<script type="text/ng-template" id="read-only.html">
    <div layout="row" flex>
        <label ng-bind="v.field"></label>
        <label ng-bind="item[k]"></label>
    </div>
</script>