
<md-content layout="row" layout-align="center">
    <form flex="30" name="form" layout="column" ng-cloak layout-padding class="md-inline-form">

        <div layout="column" layout-align="center">
            <div ng-repeat="(k, v) in fields" ng-include="v.template"></div>
        </div>

        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="handleSaveClick()">Save</md-button>
            <md-button class="md-raised md-primary" ng-click="handleCancelClick()">Cancel</md-button>
        </div>

    </form>
</md-content>

<script type="text/ng-template" id="text-input.html">
    <md-input-container class="md-block md-accent">
        <label ng-bind="v.field"></label>
        <input ng-model="item[k]" type="v.type">
    </md-input-container>
</script>

<script type="text/ng-template" id="number-input.html">
    <md-input-container class="md-block md-accent">
        <label ng-bind="v.field"></label>
        <input ng-model="item[k]" type="v.type" step="v.step">
    </md-input-container>
</script>

<script type="text/ng-template" id="select.html">
    <div layout="row" layout-align="center">
        <md-progress-circular ng-hide="v.enum" md-diameter="24" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-select ng-show="v.enum" ng-model="item[k]">
        <md-option ng-repeat="option in v.enum" ng-bind="option"></md-option>
    </md-select>
</script>

<script type="text/ng-template" id="read-only.html">
    <div layout="row" flex>
        <label ng-bind="v.field"></label>
        <label ng-bind="item[k]"></label>
    </div>
</script>